<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListController</servlet-name>
        <servlet-class>controller.ViewListController</servlet-class>
        <init-param>
            <param-name>pagesize</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>pagegap</param-name>
            <param-value>2</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostController</servlet-name>
        <servlet-class>controller.AddPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostController</servlet-name>
        <servlet-class>controller.DeletePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePostController</servlet-name>
        <servlet-class>controller.UpdatePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListOfUserController</servlet-name>
        <servlet-class>controller.ViewListOfUserController</servlet-class>
        <init-param>
            <param-name>pagesize</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>pagegap</param-name>
            <param-value>2</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>controller.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageController</servlet-name>
        <servlet-class>controller.UploadImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommentController</servlet-name>
        <servlet-class>controller.AddCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageForUpdateController</servlet-name>
        <servlet-class>controller.UploadImageForUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListController</servlet-name>
        <url-pattern>/viewlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostController</servlet-name>
        <url-pattern>/addpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostController</servlet-name>
        <url-pattern>/deletepost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePostController</servlet-name>
        <url-pattern>/updatepost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListOfUserController</servlet-name>
        <url-pattern>/listofuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageController</servlet-name>
        <url-pattern>/uploadimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommentController</servlet-name>
        <url-pattern>/addcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageForUpdateController</servlet-name>
        <url-pattern>/uploadimageforupdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
